################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/leitorqrcode/.vs
/leitorqrcode/.vscode
